<h4>Newsletters</h4>
<% if Newsletter.last.schedule_at >= Time.now %>
	<table class = 'table' >
		<tr>
			<th>
				Content&emsp;
			</th>
		
			<th>
				scheduled at:&emsp;

			</th>
			
		</tr>
		<% Newsletter.find_each do |n|%>
			<% if n.schedule_at >= Time.now %>  
				<tr>
					<td><%= n.content %></td>
				
				
					<td><%= n.schedule_at%></td>
					
				</tr>
			<% end%>	
		<% end%>
	</table>
<% else %>
	No upcoming newsletters!
<% end%>
<br/>
<br/>
<%= link_to 'Schedule Newsletter', new_newsletter_path, class: "btn btn-default" %>
<%= link_to 'back', admins_path , class: "btn btn-default"%>