<h4>Newsletters</h4>
<table class = 'table' >
	<tr>
		<th>
			Content&emsp;
		</th>
	
		<th>
			scheduled at:&emsp;

		</th>
		
	</tr>
	<% Newsletter.find_each do |n|%>
		<% if n.schedule_at >= Time.now %>  
			<tr>
				<td><%= n.content %></td>
			
			
				<td><%= n.schedule_at%></td>
				
			</tr>
		<% end%>	
	<% end%>
</table>

<%= link_to 'Schedule Newsletter', new_newsletter_path %>|
<%= link_to 'back', admins_path %>